@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS */
  --black: 11 13 23;
  --primary: 208 214 249;
  --gray-light-1: 200 200 200;
  --white: 255 255 255;
  --hover-button: 36 38 47;

  /* TYPOGRAPHY */
  --font-size-h1: 9.375rem;
  --font-size-h2: 6.25rem;
  --font-size-h3: 3.5rem;
  --font-size-h4: 2rem;

  --font-size-h5: 1.75rem;
  --letter-spacing-h5: 0.29rem;

  --font-size-sub-h1: 1.75rem;

  --font-size-sub-h2: 0.875rem;
  --letter-spacing-sub-h2: 0.14rem;

  --font-size-nav-text: 1rem;
  --letter-spacing-nav-text: 0.16875rem;

  --font-size-body: 1.125rem;
}

@layer components {
  .withGradient::before {
    background: rgba(58, 58, 58, 0.25);
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .hoverAnimated::before {
    color: transparent;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    transition: all 0.25s ease-in-out;
    border-radius: 100%;
  }

  .hoverAnimated:hover::before {
    background-color: #24262f;
    transform: scale(1.35);
  }

  .desktopNavBarBackground {
    backdrop-filter: blur(4px);
    background: #161a247e;
  }
}
